/* p.center {
  color: red;
  text-align: center;
}
p.large {
  font-size: 300%;
} */
/* div + p {
  background-color: yellow;
} */
/* p ~ ul {
  background-color: #ff0000;
} */
/* a[target] {
  background-color: yellow;
} */
/* a[target="_blank"] {
  background-color: yellow;
} */
/* input[type="text"] {
  width: 100px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}
input[type="text"]:focus {
  width: 250px;
} */
/* [title ~="flower"] {
  border: 5px solid yellow;
} */
/* [lang|="en"] {
  background: yellow;
} */
/* [class|="top"] {
  background-color: yellow;
} */
/* div[class^="test"] {
  background-color: #ffff00;
} */
/* [class^="test"] {
  background-color: #ffff00;
} */
/* div[class$="test"] {
  background-color: #ffff00;
} */
/* [class$="test"] {
  background-color: #ffff00;
} */
div[class*="test"] {
  background-color: #ffff00;
}
