/* p.center {
  color: red;
  text-align: center;
}
p.large {
  font-size: 300%;
} */
/* div + p {
  background-color: yellow;
} */
/* p ~ ul {
  background-color: #ff0000;
} */
a[target] {
  background-color: yellow;
}
